#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

/* Boxes */

.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-radius: 4px;
}

.home-wrapper .container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  flex-basis: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    flex-basis: calc(50% - 10px);
  }

  &.opening-box {
    background-color: #f08080;
  }

  &:hover {
    transform: translateY(-5px);
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }

  p {
    font-size: 16px;
    color: white;
  }
}

@media (min-width: 768px) {
  .opening-box {
    flex-basis: 100%;
  }
}

.order-box {
  filter: grayscale(100%);
}

.booking-box {
  filter: grayscale(100%);
}

/* Carousel */

.carousel-container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.author-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.quote {
  font-size: 18px;
  font-weight: bold;
}

.author-name {
  font-size: 14px;
}

.author-description {
  font-size: 14px;
}

.author-info {
  padding-left: 50px;
}

.author-image-container {
  float: left;
  margin-right: 20px;
}

.author-review {
  overflow: hidden;
}

/* Gallery */

.gallery-container {
  max-width: 800px;
  margin: 40px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 100px;
}

.gallery-item {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(1.1);
    filter: grayscale(50%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.gallery-item .icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.gallery-item:hover .icon-container {
  display: flex;
}

.gallery-item .icon {
  font-size: 24px;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.view-more-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}